<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springapp.mvc.mapper.SayingMapper" >
  <resultMap id="BaseResultMap" type="com.springapp.mvc.entity.Saying" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sayer_id" property="sayerId" jdbcType="INTEGER" />
    <result column="root_id" property="rootId" jdbcType="INTEGER" />
    <result column="super_id" property="superId" jdbcType="INTEGER" />
    <result column="saying_add_ts" property="sayingAddTs" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="isRead" property="isread" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.springapp.mvc.entity.Saying" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sayer_id, root_id, super_id, saying_add_ts, state, isRead
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from saying
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from saying
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.springapp.mvc.entity.Saying" >
    insert into saying (id, sayer_id, root_id, 
      super_id, saying_add_ts, state, 
      isRead, content)
    values (#{id,jdbcType=INTEGER}, #{sayerId,jdbcType=INTEGER}, #{rootId,jdbcType=INTEGER}, 
      #{superId,jdbcType=INTEGER}, #{sayingAddTs,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{isread,jdbcType=TINYINT}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.springapp.mvc.entity.Saying" >
    insert into saying
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sayerId != null" >
        sayer_id,
      </if>
      <if test="rootId != null" >
        root_id,
      </if>
      <if test="superId != null" >
        super_id,
      </if>
      <if test="sayingAddTs != null" >
        saying_add_ts,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="isread != null" >
        isRead,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sayerId != null" >
        #{sayerId,jdbcType=INTEGER},
      </if>
      <if test="rootId != null" >
        #{rootId,jdbcType=INTEGER},
      </if>
      <if test="superId != null" >
        #{superId,jdbcType=INTEGER},
      </if>
      <if test="sayingAddTs != null" >
        #{sayingAddTs,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="isread != null" >
        #{isread,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springapp.mvc.entity.Saying" >
    update saying
    <set >
      <if test="sayerId != null" >
        sayer_id = #{sayerId,jdbcType=INTEGER},
      </if>
      <if test="rootId != null" >
        root_id = #{rootId,jdbcType=INTEGER},
      </if>
      <if test="superId != null" >
        super_id = #{superId,jdbcType=INTEGER},
      </if>
      <if test="sayingAddTs != null" >
        saying_add_ts = #{sayingAddTs,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="isread != null" >
        isRead = #{isread,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.springapp.mvc.entity.Saying" >
    update saying
    set sayer_id = #{sayerId,jdbcType=INTEGER},
      root_id = #{rootId,jdbcType=INTEGER},
      super_id = #{superId,jdbcType=INTEGER},
      saying_add_ts = #{sayingAddTs,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      isRead = #{isread,jdbcType=TINYINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springapp.mvc.entity.Saying" >
    update saying
    set sayer_id = #{sayerId,jdbcType=INTEGER},
      root_id = #{rootId,jdbcType=INTEGER},
      super_id = #{superId,jdbcType=INTEGER},
      saying_add_ts = #{sayingAddTs,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      isRead = #{isread,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>